<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #form_div {
      border: 1.5px solid #000;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dojo Survey Index</title>
</head>
<body>
  <div id="form_div">
    <!-- UPDATED for Model Validation -->
    @model Survey
    <!-- <form action="survey" method="post"> -->
      <!-- asp-action matches the method name in the HomeController -->
      <form asp-action="SurveySubmit" asp-controller="Home" method="POST">
      <table>
        <tbody>
          <tr>
            <td>
              <label asp-for="Name"></label>
              <!-- <label for="Name">Your Name: </label> -->
            </td>
            <td>
              <input asp-for="Name"/>
              <!-- <input type="text" name="Name"/> -->
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
                <span style="color:red;" asp-validation-for="Name"></span>
            </td>
          </tr>
          <tr>
            <td>
              <span asp-validation-for="Location"></span>
              <label asp-for="Location"></label>
              <!-- <label for="Location">Dojo Location: </label> -->
            </td>
            <td>
              <!-- <select name="Location"> -->
              <select asp-for="Location">
                  <option value="San Jose">San Jose</option>
                  <option value="Burbank">Burbank</option>
                  <option value="Orange County">Orange County</option>
                  <option value="New York">New York</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              <span asp-validation-for="Language"></span>
              <label asp-for="Language"></label>
              <!-- <label for="Language">Favorite Language:</label> -->
            </td>
            <td>
              <!-- <select name="Language"> -->
              <select asp-for="Language">
                  <option value="Python">Python</option>
                  <option value="Java">Java</option>
                  <option value="MEAN">MEAN</option>
                  <option value="CSharp">C#</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              <span asp-validation-for="Comment"></span>
              <label asp-for="Comment"></label>
              <!-- <label for="Comment">Comment (optional): </label> -->
            </td>
            <td>
              <textarea asp-for="Comment" id="Comment" cols="20" rows="4"></textarea>
              <!-- <textarea name="Comment" id="Comment" cols="20" rows="4"></textarea> -->
            </td>
          </tr>
        </tbody>
      </table>


      <input value="Submit" type="submit" />
      <!-- <button type="submit">Submit</button> -->
    </form>
  </div>
</body>
</html>