@using DojoSurvey.Models;
@model Survey;

<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #form_div {
      border: 1.5px solid #000;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dojo Surey Result</title>
</head>
<body>
  <h1>Survey Results:</h1>
  <div id="form_div">
    <table>
      <tbody>
        <tr>
          <td>
            Name: 
          </td>
          <td>
            @Model.Name
          </td>
        </tr>
        <tr>
          <td>
            Dojo Location: 
          </td>
          <td>
            @Model.Location
          </td>
        </tr>
        <tr>
          <td>
            Favorite Language: 
          </td>
          <td>
            @Model.Language
          </td>
        </tr>
        <tr>
          <td>
            Comment: 
          </td>
          <td>
            @Model.Comment
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>